// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-grey-dark: #777;

// GRID VARIABLES
$grid-width: 114rem;
$horizontal-gutters: 6rem;
$vertical-gutters: 8rem;
