body {
  font-family: "loto", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  text-transform: uppercase;
  color: $color-white;
  backface-visibility: hidden;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation: move-in-left 2s;
    animation-timing-function: ease-out;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.7rem;
    animation: move-in-right 2s;
    animation-timing-function: ease-out;
  }
}
